---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Featured from '../components/Featured.astro';
import BlogList from '../components/BlogList.astro';

---

<Layout title="Code, Lift and Chill">
	<main class="w-full">
		<Hero />
		<Featured />
		<BlogList />
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
	}
</style>

<script>
    import "../scripts/menu.js";
</script>
