---
import {Image} from "astro:assets";
import { Icon } from 'astro-icon';

type FooterProps = {
  footerLinks: { label: string; url: string }[];
};
const footerLinks = [
  { label: 'Home', url: '/' },
  { label: 'About', url: '/about' },
  { label: 'Blog', url: '/blog' }
];
---

<footer class="p-8">
    <div class="container mx-auto">
        <div class="footer-wrapper flex justify-between items-center mb-6 flex-wrap">
            <a href="/" class="flex items-center gap-x-4">
                <Image
                    src="/images/y2k-gabes.svg"
                    width={100}
                    height={72}
                    alt="Gabe's Logo"
                    class="rounded aspect-thumbnail object-cover"
                    format="webp"
                />
            </a>
            <nav class="footer-nav flex items-center">
                <ul class="flex gap-x-4">
                    {footerLinks.map((link, index) => (
                    <li key={index}>
                        <a href={link.url}>{link.label}</a>
                    </li>
                    ))}
                </ul>
            </nav>
            <div class="social-links flex gap-x-4 justify-center lg:mb-6 mx-auto lg:mx-0">
                <a href="https://github.com/CodingGabe" target="_blank" rel="noopener noreferrer">
                    <Icon name="github" />
                </a>
                <a href="https://instagram.com/creative.gabe" target="_blank" rel="noopener noreferrer">
                    <Icon name="instagram" />
                </a>
                <a href="https://linkedin.com/in/gabeamaya" target="_blank" rel="noopener noreferrer">
                    <Icon name="linkedin" />
                </a>
            </div>
        </div>
        <hr class="my-6 max-w-3xl mx-auto border-neutral-400">
        <p class="text-sm text-slate-300 text-center">Designed and Developed by <a href="https://www.gabecreativedept.com/" tab="_blank" class="underline">Gabe Amaya</a></p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--color-accent-dark);
    }
    footer img {
        max-height:72px;
    }
    .social-links svg {
        min-height: 1.65rem;
    }
    [astro-icon] {
        color: var(--color-primary);
        /* OR */
        fill: var(--color-primary);
    }
</style>