---
import Header from '../components/Header.astro';
import Footer from '../partials/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/utils.css';
import {
  BackgroundImage,
  ImageSupportDetection,
} from "astro-imagetools/components";

interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description = "Another developer blog with cool tips and up to date tech" } = Astro.props;
const footerLinks = [
  { label: 'Home', url: '/' },
  { label: 'About', url: '/about' },
  { label: 'Blog', url: '/blog' }
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<ImageSupportDetection />
	</head>
	<body>
		<Header />
		<slot />
		<Footer footerLinks={footerLinks} />
	</body>
</html>
<style is:global>
	h1, h2, h3, h4, h5, h6 {
		font-family: "Black", system-ui, sans-serif;
		font-weight: bold;
	}
	.font-heading {
		font-family: "Black", system-ui, sans-serif;
	}
	p, a {
		font-family: "Varela", system-ui, sans-serif;
	}
	.color-accent {
		color: var(--color-primary);
	}
	.font-poppins {
		font-family: "Poppins", system-ui, sans-serif;
	}
</style>
